<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONTAK SAYA</title>

    <!-- MENYISIPKAN LINK -->

<link rel="stylesheet" href="STYLE CSS.css">

<!-- ....... -->
</head>
<body>

<!-- MEMBUAT KERANGKANYA -->
<div id="container">    
    <!--  ... -->
    
        <header>
            <h1>Layout Sederhana</h1>
        </header>
        <nav>
        <a href="home.html" class="active">Home</a>
        <a href="artikel.html">Artikel</a>
        <a href="portofolio.html">About</a>
        <a href="KONTAK.html">kontak</a>
        </nav>
    
        <section id="hero"></section>
        <section id="wrapper"></section>
        <section id="main"></section>
        <aside id="sidebar"></aside>
  






<center>

    <header style="margin: 20px; font-size: 2cm;"> Kontak saya</header>
    <table style="background-color: #b5b5b5; margin-top: 20px; margin-bottom: 20px;">

        <tr >
            <td> Nama </td>
            <td>: Anshar Rahmawan</td>
            <td rowspan="10" align="center" > <img src="aaa.jpeg" alt="" width="400"></td>
        </tr>
        <tr>
            <td> Tempat dan Tanggal Lahir</td>
            <td> : Jakarta 04 - april - 1998</td>
        </tr>
        <tr>
            <td> Umur</td>
            <td> : 24 Tahun</td>
        </tr>
        <tr>
            <td> jenis kelamin </td>
            <td> : Laki - Laki</td>
        </tr>
        <tr>
            <td> Alamat</td>
            <td> : bekasi Kp.babakan</td>
        </tr>
        <tr>
            <td> E-mail</td>
            <td> : ggepengg303@gmail.com</td>
        </tr>
        <tr> <td></td></tr>
        <tr> <td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
       <tr>
           <td></td>
           <td></td>
            <td rowspan="10" align="center"> nomor yang bisa di hubungi : 089438587</td></tr>
  








     </table>
    
</center>








<footer>
    <p>&copy; 2021 - Universitas Pelita Bangsa</p>
    </footer>
</div>
</body>
</html>