<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONTAK SAYA</title>
</head>
<body>
<center>

    <header style="margin: 70px; font-size: 2cm;"> Kontak saya</header>
    <table style="background-color: #b5b5b5;">

        <tr >
            <td> Nama </td>
            <td>: Anshar Rahmawan</td>
            <td rowspan="10" align="center" > <img src="aaa.jpeg" alt="" width="400"></td>
        </tr>
        <tr>
            <td> Tempat dan Tanggal Lahir</td>
            <td> : Jakarta 04 - april - 1998</td>
        </tr>
        <tr>
            <td> Umur</td>
            <td> : 24 Tahun</td>
        </tr>
        <tr>
            <td> jenis kelamin </td>
            <td> : Laki - Laki</td>
        </tr>
        <tr>
            <td> Alamat</td>
            <td> : bekasi Kp.babakan</td>
        </tr>
        <tr>
            <td> E-mail</td>
            <td> : ggepengg303@gmail.com</td>
        </tr>
        <tr> <td></td></tr>
        <tr> <td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
       <tr>
           <td></td>
           <td></td>
            <td rowspan="10" align="center"> nomor yang bisa di hubungi : 089438587</td></tr>
  








     </table>
    
</center>












</body>
</html>