<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About / PORTOFOLIO</title>

      <!-- MENYISIPKAN LINK -->

  <link rel="stylesheet" href="STYLE CSS.css">

  <!-- ....... -->

</head>
<body>


  <!-- MEMBUAT KERANGKANYA -->
<div id="container">    
      <!--  ... -->
      
            <header>
                <h1>Layout Sederhana</h1>
            </header>
            <nav>
            <a href="home.html" class="active">Home</a>
            <a href="artikel.html">Artikel</a>
            <a href="portofolio.html">About</a>
            <a href="KONTAK.html">kontak</a>
            </nav>
      
            <section id="hero"></section>
            <section id="wrapper"></section>
            <section id="main"></section>
            <aside id="sidebar"></aside>
    
  <!-- ISI -->



        <H1 style="margin-bottom: 20px;" align="center"> BIODATA</H1>
      <center>  <hr width="500" style="background-color: blue;height: 2px; margin-bottom: 20px;" > </center>
        <table align="center" width="500" >
       
            <tr>
                <td>
                    Nim
                </td>
                <td>
                    : 312010308
                </td>
                <td align="center">
                    Nama : Anshar Rahmawan
                </td>
            
            
            </tr>
            <tr>
                <td>
                    kelas
                </td>
                <td>
                    : TI.20.A2
                </td>
                <td rowspan="2" align="center" > <img src="aaa.jpeg" alt="" width="200">

                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td> </td>
                <td> </td>
                <td align="center">
                    Universitas Pelita bangsa
                </td>
            </tr>
        </table>

    <center>
    <p style="margin-top: 20px; margin-bottom: 20px; background-color: #b5b5b5 ; padding: 20px;">Nama saya <b>"Anshar Rahmawan"</b> saya tinggal di daerah kota <b>"BEKASI"</b> 
        saya pernah bersekolah di <b>"SMK Bina Karya Mandiri"</b> jurusan <b>"Tekhnik Listrik"
        <br>
        </b>
    </p>
    </center>

    <h2 style="margin-bottom: 10px; text-align: center;"> ~ Kemampuan ~</h2>
    <p style="background-color:#b5b5b5 ; padding: 20px 20px; margin-bottom: 10px;" >
        setelah saya lulus dari SMK Bina Karya Mandiri, saya bisa mempuat rangkaian ;
        <br>
        1. panel Control ( untuk perusahaan ) <br>
        2. Instalasi lampu untuk tegangan arus lemah <br>
        3. perangkaian Sistem Control dengan menggunakan PLC ( Program Logic Control)
    </p>

    <h2 style=" margin-bottom: 10px; text-align: center;">~ Hobi ~</h2>
    <p style="background-color:#b5b5b5; padding: 20px 20px; margin-bottom: 10px;">
        * Bermain futsal <br>
        * renang <br>
        * bongkar pasang dan mencari kerusakan di dalam sepeda motor
    </p>

    <h2 style="margin-bottom: 10px; text-align: center;"> ~ Pengalaman ~ </h2>
    <p style="background-color: #b5b5b5; padding: 20px 20px; margin-bottom: 10px;">
        saya pernah bekerja di PT. Alpin Service Triutama ( di daerah sunter jakarta). 
        lalu di kirim ke daerah jawa tengah selama 1 tahun <br>
        saya pernah bekerja di PT. Bizzi Neka Tama ( Dalama posisi sebagai Mekanikal & enginering hingga tahun 2020)
    </p>

















    <footer>
        <p>&copy; 2021 - Universitas Pelita Bangsa</p>
        </footer>

</div>
</body>
</html>